*   {
    margin: 0;
    padding: 0;
}

#list{
    width:100%;
    height:0;
    display: table;
}

.footer {
    width:100%;
    height:6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#taskPopup, #editPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border:2px solid rgb(185, 185, 185) ;
}

#taskPopup textarea, #editPopup textarea {
    width: 95%;
    font-size: 18px;
    resize: none;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 7px;
    padding-top: 10px;
}

#createTask, #editTask {
    height: 25%;
    margin: 20px 0;
}

#createTaskNote, #editTaskNote{
    margin-bottom: 20px;
}

#createTaskNote, #createTaskSub, #editTaskNote, #editTaskSub {
    height: 15%;
}

#taskPopupFooter, #editPopupFooter {
    margin: 20px 0 10px 0;
    border-top: 2px solid grey;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#taskPopupFooter i, #editPopupFooter i{
    font-size: 22px;
}

#task  {
    width: 100%;
    min-height: 6vh; 
    display: flex;
    align-items: center;
    border: 2px solid black;
    flex-grow: 1; 
    overflow: hidden; 
}

.checkbox {
    box-sizing: border-box;
    transform: scale(2);
    margin: 25px;
}

#taskText {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline;
    width: 100%;
    height: 100%;
}

#task .fa-grip-lines{
    margin: 20px;
    padding: 10px;
    font-size: 22px;
}

.dragging {
    opacity: 30%;
}


.checked {
    text-decoration-line: line-through;
    opacity: 50%;
}

.unchecked {
    text-decoration-line: none;
    opacity: 100%;
}
