* {
    margin: 0;
    padding: 0;
}

.light{
    --primary-color: #eee;
    --popup-bg:#eee;
    --text-color: black;
    --drag-text-color:black;
    --border-color-popups: rgb(185, 185, 185);
    --btn-border: black;
    --drag-shadow: black;
    --drag-bg: grey;
    --settings-li-bg: rgb(221, 221, 221);
    --settings-li-bg-hover: rgba(221, 221, 221, 0.795);
    --settings-li-border: rgb(129, 129, 129);
    --settings-btn-hover: #a09f9f54;
    --button-bg: rgb(221, 221, 221);
    --footer-delimiter: darkgrey;
    --footer-bg: #eee;
}


/* needs tweeking */
.dark{
    --primary-color: #121212;
    --popup-bg:#222222;
    --text-color: rgb(235, 234, 234);
    --drag-text-color:white;
    --border-color-popups: rgb(94, 94, 94);
    --btn-border: rgb(221, 215, 215);
    --drag-shadow: rgb(209, 209, 209);
    --drag-bg: rgb(228, 227, 227);
    --settings-li-bg: rgb(105, 105, 105);
    --settings-li-bg-hover: rgb(143, 143, 143, 0.795);
    --settings-li-border: rgb(187, 187, 187);
    --settings-btn-hover: #706f6fb6;
    --button-bg: rgb(105, 105, 105);
    --footer-delimiter: rgb(209, 209, 209);
    --footer-bg: #121212;
}

body{
    background-color: var(--primary-color)
}

#list{
    width:100%;
    height:0;
    display: table;
    background: var(--primary-color);
}

#footer {
    width:100%;
    height:6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--footer-delimiter);
    background: var(--footer-bg)
}

#footer i{
    cursor: pointer;
}

#taskPopup, #editPopup, #settingsPopup, #deletePopup,
#keybindsPopup, #themePopup, #fontPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--popup-bg);
    border:2px solid var(--border-color-popups);
}


/* overrides previous */
#keybindsPopup{
    height: 500px;
}


#taskPopup textarea, #editPopup textarea {
    width: 95%;
    font-size: 18px;
    resize: none;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 7px;
    padding-top: 10px;
    background: var(--primary-color);
    color: var(--text-color);
}

#createTask, #editTask {
    height: 25%;
    margin: 20px 0;
}

#createTaskNote, #editTaskNote{
    margin-bottom: 20px;
}

#createTaskNote, #createTaskSub, #editTaskNote, #editTaskSub {
    height: 15%;
}

#taskPopupFooter, #editPopupFooter, #fontPopupFooter {
    margin: 20px 0 10px 0;
    border-top: 2px solid var(--footer-delimiter);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#taskPopupFooter i, #editPopupFooter i, .fa-caret-down, #fontPopupFooter i{
    font-size: 22px;
    cursor: pointer;
}

#task  {
    max-width: 100vw;
    min-height: 6vh; 
    display: flex;
    align-items: center;
    flex-grow: 1; 
    overflow: hidden;
}

.checkbox {
    box-sizing: border-box;
    transform: scale(2);
    margin: 25px;
    cursor: pointer;
    accent-color: var(--text-color);
}

#taskText, #subTask, #taskNote {
    font-size: 18px;

    min-height: 6vh;
    width: 100%;
    margin: 20px;
    padding-left: 8px;

    display: flex;
    align-items: center;
    word-break: break-all;
    white-space: pre-wrap;
}

#task i{
    box-sizing: border-box;
    width: 20px;
    height: 100%;
    margin: 10px 30px;
}

#fontPopupBody{
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);   /* 2 rows */
    gap: 10px;
}

#fontPopup select{
    width: 70%;
    height: 30px;
    
    margin: 20px;
}

#fontPopup p{
    width: 50%;
    height: 20px;

    margin:10px;
    text-align: center;

    color: var(--text-color)
}

/*FONTS*/

.courierNew{
    font-family: 'Courier New';
}

.franklin{
    font-family: 'Franklin Gothic Medium';
}

.arial{
    font-family: Arial;
}

.timesNewRoman{
    font-family: 'Times New Roman';
}

/*FONTS END*/

.alignVertical{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 5vw;
    max-width: 100%;
    cursor: pointer;
}

#settingsPopup li{
    text-decoration: none;
    width: 70%;
    height: 15%;
    border: 2px solid var(--settings-li-border);
    background-color: var(--settings-li-bg);
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#settingsPopup li:nth-of-type(2), #settingsPopup li:nth-of-type(3){
    border-top: 0;
}

#settingsPopup li:hover, #themePopup button:hover{
    background-color: var(--settings-li-bg-hover);
    cursor: pointer;
}

#deletePopup h1{
    font-weight: bold;
}

#deletePopup h1, #deleteBtns button, #keybindsPopup button, #themePopup button{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#deleteBtns, #themePopupBtns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 50%;
}

#deleteBtns button, #keybindsPopup button, #themePopup button{
    width: 150px;
    height: 60px;
    border: 2px solid var(--btn-border);
    cursor: pointer;
}

#keybindsPopup button{
    margin-bottom: 20px;
}

#closeKeybinds, #cancelDeleteAll, #themePopup button{
    background: var(--button-bg);
    color: var(--text-color);
}

#deletePopup h1, #deleteAll, #task p, i{
    color: var(--text-color);
}

#deleteBtns:hover #cancelDeleteAll:hover, #keybindsPopup button:hover{
    background-color: var(--settings-btn-hover);
}

#deleteBtns #deleteAll{
    background: rgba(255, 0, 0, 0.822);
}

#deleteBtns #deleteAll:hover{
    background: rgba(255, 0, 0, 0.479);
}

#keybindsPopup ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    color: var(--text-color);
}

#keybindsPopup li{
    width: 80%;
    height: 55px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-break: normal;
    line-height: 23px;
    margin: 5px;
}

.dragging, .bulkSelected{
    box-sizing: border-box;
    border: 2px solid var(--btn-border);
    box-shadow: 2px var(--drag-shadow);
    opacity: 50%;
    padding: 10px 0;
    background: var(--drag-bg);
}

.dragging #taskText, .dragging #taskNote, .dragging #subTask, .bulkSelected #taskText, .bulkSelected #taskNote, .bulkSelected #subTask {
    color: var(--primary-color);
}

.hovering{
    opacity: 50%;
}

.checked {
    text-decoration-line: line-through; 
    opacity: 50%;
}

.unchecked {
    text-decoration-line: none;
    opacity: 100%;
}
